#mainBody {
  text-align: center;
  padding: 5px;
  margin: 0;
  background-color: rgb(208, 199, 187);
}

h1 {
  background-color: rgb(0, 198, 220);
  font-family: cursive;
  font-size: 70px;
  padding: 15px;
  margin-top: 0;
  color:rgb(231, 255, 78);
}

#mainDiv {
  background-color: rgb(255, 245, 232);
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
  padding: 40px;
}

.category {
  border: solid gray 3px;
  width: 200px;
  text-align: center;
  background-color: rgb(203, 87, 87);
}
.category img {
  position: relative;
  left: 0%;
}
.category span {
  position: relative;
  font-size: 30px;
  display: block;
}

.category:hover {
  scale: 1.1;
  cursor: pointer;
}