#mainBody {
  text-align: center;
  padding: 5px;
  margin: 0;
  background-color: rgb(117, 90, 81);
}

h1 {
  background-color: rgb(91, 17, 23);
  font-family: cursive;
  font-size: 70px;
  padding: 15px;
  margin-top: 0;
  color:rgb(255, 78, 78);
}

#mainDiv {
  background-color: rgb(177, 137, 123);
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
  padding: 40px;
}

.recipe {
  border: solid gray 3px;
  width: 200px;
  text-align: center;
  background-color: rgb(203, 87, 87);
}
.recipe img {
  position: relative;
  left: 0%;
}
.recipe span {
  position: relative;
  font-size: 20px;
  display: block;
}

.recipe:hover {
  scale: 1.1;
  cursor: pointer;
}